%table#calculation_table
  %tr
    %th
    %th Internal
    %th External -  4 Ah
    %th External -  10 Ah
    %th External - 20 Ah
    %tr
      %td Typical Hours
      %td#th20
        N/A
      %td#th10
        N/A
      %td#th1_5
        N/A
      %td#thint
        N/A
    %tr
      %td Minimum Hours
      %td#min20
        N/A
      %td#min10
        N/A
      %td#min1_5
        N/A
      %td#minint
        N/A
    %tr
      %td Maximum Hours
      %td#max20
        N/A
      %td#max10
        N/A
      %td#max1_5
        N/A
      %td#maxint
        N/A
