#tools
  %table
    %tr
      %td
        %a{"href" => "../battery_calc"}
          Battery Life Calculator
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_parser_iem_1.php"}
          FSN Parser 3 Hex
    %tr
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_parser/public/"}
          FSN Parser
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_f3_parser_1.php"}
          FSN F3 Parser 1
    %tr
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_parser_1.php"}
          FSN Parser 1
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_parser_iem_1.php"}
          FSN Parser IEM 1
    %tr
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_parser_2.php"}
          FSN Parser 2
      %td
        %a{"href" => "http://storm.tracell.com/custom/getFVals.php"}
          Get F Vals
    %tr
      %td
        %a{"href" => "http://storm.tracell.com/custom/fsn_parser_3.php"}
          FSN Parser 3
      %td
        %a{"href" => "http://storm.tracell.com/custom/kml_generator.php"}
          KML Generator




